%nav.navbar.navbar-expand-lg.navbar-light{:style => "background-color: #5DE3E3;"}
  %a.navbar-brand{:href => "#"} ThisIsMe
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          Home
          %span.sr-only (current)
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Dropdown
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => edit_user_path(current_user)} プロフィール編集
          %a.dropdown-item{:href => "#"} Another action
          .dropdown-divider
          %a.dropdown-item{:href => "#"} Something else here
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search user", :type => "search"}/
      %button.btn.btn-outline-info.my-2.my-sm-0{:type => "submit"} Search
-# .topbar
-#   .topbar-logo ThisIsMe
-#   %ul.topbar-navi__left-box 
-#     %li.topbar-navi__left-box__list
-#       %input.btn.btn-info{:type => "button", :value => "About"}/
-#     %li.topbar-navi__left-box__list
-#       %input.btn.btn-info{:type => "button", :value => "Search"}/
-#   %ul.topbar-navi__right-box
-#     %li.topbar-navi__right-box__list
-#       %input.btn.btn-info{:type => "button", :value => "New Profile"}/
-#     %li.topbar-navi__right-box__list
-#       %input.btn.btn-info{:type => "button", :value => "Logout"}/
.container
  .header
    %h1.header-name Testman's Profile
    .header-profile
      .header-profile__left
        %img.profile-image= image_tag current_user.image.url
      .header-profile__right 
        %div
          %h6= current_user.name
        %div
          %h6 ウェブサイト：Twitter
  .contents
    .contents-wrapper
      .contents-profile
        .contents-profile__box
          .contents-profile__box__description-title 自己紹介
          .contents-profile__box__description-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        .contents-profile__box
          .contents-profile__box__paragraph-title もっと自己紹介
          .contents-profile__box__paragraph-content
            Ut lectus arcu bibendum at varius vel pharetra. Sodales neque sodales ut etiam sit amet. Tincidunt ornare massa eget egestas purus viverra accumsan in. Vestibulum mattis ullamcorper velit sed. Sit amet risus nullam eget felis eget nunc lobortis. Pellentesque massa placerat duis ultricies lacus. Et ultrices neque ornare aenean euismod elementum nisi quis. Velit scelerisque in dictum non consectetur a erat. Morbi tristique senectus et netus et malesuada. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Tortor condimentum lacinia quis vel eros. Ut faucibus pulvinar elementum integer enim neque. Lacus vel facilisis volutpat est.
.footer
  %p.footer__app-name ThisIsMe by Yu Nakajima
