.container
  .index-header
    %h1.index-header-name= "ThisIsMeへようこそ！"
    .index-header-profile
      %img.index-header-profile__profile-image{src: "https://www.photolibrary.jp/mhd6/img518/450-20170330014121.jpg"}

  .index-contents
    .index-contents-wrapper
      .index-contents-profile
        .index-contents-profile__box
          .index-contents-profile__box__description-title このサイトについて
          .index-contents-profile__box__description-content ThisIsMeはプロフィールを記載し、シェアするアプリです。早速ログインして作成していきましょう！作成したプロフィールのURLをコピーして、見せたい人にシェアしてください！
